@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

@font-face {
  font-family: 'League Gothic';
  src: url("../font/league_gothic-webfont.eot");
  src: url("../font/league_gothic-webfont.eot?#iefix") format("embedded-opentype"), url("../font/league_gothic-webfont.woff") format("woff"), url("../font/league_gothic-webfont.ttf") format("truetype"), url("../font/league_gothic-webfont.svg#LeagueGothicRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #1c1e20;
  background: -moz-radial-gradient(center, circle cover, #555 0%, #2A2C31 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #555), color-stop(100%, #2A2C31));
  background: -webkit-radial-gradient(center, circle cover, #555 0%, #2A2C31 100%);
  background: -o-radial-gradient(center, circle cover, #555 0%, #2A2C31 100%);
  background: -ms-radial-gradient(center, circle cover, #555 0%, #2A2C31 100%);
  background: radial-gradient(center, circle cover, #555 0%, #2A2C31 100%);
  background-color: #2b2b2b; }

.reveal {
  font-family: "Lato", sans-serif;
  font-size: 36px;
  font-weight: 200;
  letter-spacing: -0.02em;
  color: #E7E4DF;
  text-shadow: 2px 2px 0px #333;
}

section p {
  letter-spacing: 0.07em;
}

::selection {
  color: white;
  background: #ff5e99;
  text-shadow: none;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #DFBA69;
  font-family: "League Gothic", Impact, sans-serif;
  line-height: 0.9em;
  letter-spacing: 0.03em;
  text-shadow:0 1px 0 #777, 0 2px 0 #111, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.15);
}

.reveal h1,
.reveal h2,
.reveal h3 {
  text-transform: uppercase;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #C8AE75;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #C8AE75;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #91490E; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #13daec;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #DFBA69; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #DFBA69; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #DFBA69; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #DFBA69; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #FFFEDF; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #FFFEDF; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #FFFEDF; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #FFFEDF; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #13daec;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}
